.cards{
    background: url("../../../public/images/wood-2.jpg");
    background-size: 190%;
}
.Rock-cards{
    background: url("../../../public/images/metal.jpg");
    background-size: 50%;
}
.App{
    background-color: #17151c;

}
.blurb-p{
    color: aliceblue;
}